# Backend
PORT=8080
DB_URL=jdbc:postgresql://postgres:5432/contaquiz_db
DB_USER=postgres
DB_PASSWORD=localpassword
JWT_SECRET=contaquiz-dev-secret
JWT_EXPIRES_IN=7d
CORS_ORIGINS=http://localhost:3000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_SENTRY_DSN=

# JWT
JWT_PUBLIC_KEY_LOCATION=diretorio/para/chave/publica.pub
JWT_ISSUER=ContaQuiz
JWT_SIGN_KEY_LOCATION=diretorio/para/chave/privada
